@use '../variables'
#projects
    width: 90%
    max-width: 980px
    margin: 60px auto
    .titleProject
        text-align: center
        color: white
        margin-bottom: 10px
        span
            font-weight: bold
            animation: brilho 2.50s ease-in-out infinite
            font-size: 7.0rem
            &:nth-of-type(2)
                animation-delay: 0.25s
            &:nth-of-type(3)
                animation-delay: 0.50s
            &:nth-of-type(4)
                animation-delay: 0.75s
            &:nth-of-type(5)
                animation-delay: 1s
            &:nth-of-type(6)
                animation-delay: 1.25s
            &:nth-of-type(7)
                animation-delay: 1.50s
            &:nth-of-type(8)
                animation-delay: 1.75s
            &:nth-of-type(9)
                animation-delay: 2s
            &:nth-of-type(10)
                animation-delay: 2.25s
    .card-project
        .card
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
            
            .movie
                margin: 10px auto
                height: 195px
                width: 310px
                border-radius: 20px
                background-image: url(../../img/projetoimg.png)
                background-repeat: no-repeat
                background-size: contain
                background-position: center center
                border: variables.$color-global 1px solid
            .clima
                margin: 10px auto
                height: 195px
                width: 310px
                border-radius: 20px
                background-image: url(../../img/clima.png)
                background-repeat: no-repeat
                background-size: contain
                background-position: center center
                border: variables.$color-global 1px solid
            .poke
                margin: 10px auto
                height: 195px
                width: 310px
                border-radius: 20px
                background-image: url(../../img/pokeweb.png)
                background-repeat: no-repeat
                background-size: contain
                background-position: center center
                border: variables.$color-global 1px solid
            .luna
                margin: 10px auto
                height: 195px
                width: 310px
                border-radius: 20px
                background-image: url(../../img/luna_site.png)
                background-repeat: no-repeat
                background-size: contain
                background-position: center center
                border: variables.$color-global 1px solid
            .pro
                border: variables.$color-global 1px solid
                margin: 10px auto
                height: 195px
                width: 310px
                border-radius: 20px
                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                overflow: hidden
                transition: ease-in-out 0.3s
                div p
                    font-family: 'Fira Sans', sans-serif
                    font-size: 2.0rem
                    color: variables.$color-global

                &:hover
                    letter-spacing: 5px

                div
                    background-color: #fdfdfd
                    width: 1000px
                    text-align: center
                    padding: 5% 0
                    transform: rotate(-50deg)
@media (max-width: 1024px)
    .pro, .movie, .clima, .poke
        max-width: 297px
        

        

